/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: local("Kaushan Script"), local("KaushanScript-Regular"),
    url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
/* roboto-regular - latin */
/* roboto-300italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Roboto Light Italic"), local("Roboto-LightItalic"),
    url("../fonts/roboto-v20-latin-300italic.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}

.decorative-line {
  width: 60px;
  height: 4px;
  background-color: #f38181;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  color: #fff;
  stroke: currentColor;
  fill: currentColor;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}
.header-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  padding-top: 35px;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1;
}
.logo:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav .list__item:not(:last-child) {
  margin-right: 55px;
}
.nav .list__link {
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  position: relative;
  z-index: 1;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  padding: 10px 0;
}
.nav .list__link:hover,
.nav .list__link:focus {
  color: #fce38a;
}
.nav .list__link::before {
  display: block;
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #fce38a;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.nav .list__link:hover::before,
.nav .list__link:focus::before {
  width: 100%;
}
.nav__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__actions .action__icon {
  margin-left: 40px;
  height: 20px;
  width: 20px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.nav__actions .action__icon:hover,
.nav__actions .action__icon:focus {
  color: #fce38a;
  cursor: pointer;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 2/1), (min-resolution: 192dpi) {
  .hero {
    background: -webkit-gradient(
        linear,
        left top, right top,
        from(rgba(252, 227, 138, 0.9)),
        to(rgba(243, 129, 129, 0.9))
      ),
      url("../img/herobg@2x.jpg") no-repeat center / cover;
    background: -o-linear-gradient(
        left,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url("../img/herobg@2x.jpg") no-repeat center / cover;
    background: linear-gradient(
        90deg,
        rgba(252, 227, 138, 0.9) 0%,
        rgba(243, 129, 129, 0.9) 100%
      ),
      url("../img/herobg@2x.jpg") no-repeat center / cover;
  }
}
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.hero {
  height: 1000px;
  background-image: url("../images/img/bg.jpg");
  background-image: -webkit-gradient(
      linear,
      left bottom, left top,
      from(rgba(252, 227, 138, 0.8)),
      to(rgba(243, 129, 129, 0.8))
    ),
    url("../images/img/bg.jpg");
  background-image: -o-linear-gradient(
      bottom,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url("../images/img/bg.jpg");
  background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.8) 0%,
      rgba(243, 129, 129, 0.8) 100%
    ),
    url("../images/img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.hero__title {
  color: #fff;
}
.hero__title.decorative-title {
  font-size: 72px;
  text-transform: none;
}
.hero__title.section-title {
  font-size: 150px;
}
.hero__transfer {
  display: block;
}
.hero__button {
  border: 3px solid #fff;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding: 12px 30px;
  margin-top: 100px;
  -webkit-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  overflow: hidden;
  cursor: pointer;
}
.hero__button:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background-color: #fff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.hero__button:hover,
.hero__button:focus {
  color: #000;
  -webkit-box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}
.hero__button:hover:before,
.hero__button:focus:before {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #ccc;
  padding: 10px 0;
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
}
.footer__info .emphasized {
  color: #f38181;
  margin-left: 4px;
}
.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
}
.footer .form__button {
  background-color: #95e1d3;
  padding: 12px 35px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  cursor: pointer;
}
.footer .form__button:hover,
.footer .form__button:focus {
  background-color: #268573;
}
.footer .form__input {
  border: 1px solid #ccc;
  border-right: none;
  padding: 11px;
  color: #ccc;
  font-style: italic;
  width: 60.526315789%;
}

.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc(100% / 3);
}
.service:nth-child(-n + 3) {
  margin-bottom: 100px;
}
.service__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.service__bg-clock::before {
  content: url(../images/img/clock.png);
  margin-right: 25px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__bg-line::before {
  content: url(../images/img/line.png);
  margin-right: 25px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__bg-creativity::before {
  content: url(../images/img/creativity.png);
  margin-right: 25px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__bg-book::before {
  content: url(../images/img/book.png);
  margin-right: 25px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__bg-home::before {
  content: url(../images/img/home.png);
  margin-right: 25px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}
.service__bg-digital::before {
  content: url(../images/img/digital.png);
  margin-right: 25px;
  width: 35px;
  height: 35px;
  -o-object-fit: contain;
     object-fit: contain;
}

.service__title {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
}
.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 65px;
}
.services__title.section-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.services__title.decorative-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.team__title.section-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.team__title.decorative-title {
  font-size: 24px;
  margin-bottom: 20px;
}
.team__desc {
  text-align: center;
  margin-top: 45px;
  width: 80%;
}
.team-wrapper {
  margin-bottom: 80px;
  margin-top: 50px;
}
.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 95px;
  width: 100%;
}
.team-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% / 3);
}
.team-member:not(:last-child) {
  margin-right: 30px;
}
.team-member__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.team-member__card {
  position: relative;
  width: 100%;
}
.team-member__card .photo {
  width: 100%;
  height: 470px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-member__card .main-content {
  position: relative;
  left: 0;
  top: 0;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.team-member__card .main-content .overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.team-member__card .main-content .overlay .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.team-member__card .main-content .overlay .list__item {
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.team-member__card .main-content .overlay .list__item:not(:last-child) {
  margin-right: 1px;
}
.team-member__card .main-content .overlay .list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background-color: #fce38a;
}
.team-member__card .main-content .overlay .list__link .icon {
  height: 27px;
  width: 27px;
  color: #f38181;
}
.team-member__card .main-content .overlay .list__link:hover {
  background-color: #f38181;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.team-member__card .main-content .overlay .list__link:hover .icon {
  color: #fff;
}
.team-member__card:before {
  display: block;
  content: "";
  background-color: #95e1d3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.team-member__card:hover .main-content,
.team-member__card:focus .main-content {
  left: -10px;
  top: -10px;
}
.team-member__card:hover .overlay,
.team-member__card:focus .overlay {
  background-image: -webkit-gradient(
    linear,
    left bottom, left top,
    from(rgba(252, 227, 138, 0.8)),
    to(rgba(243, 129, 129, 0.8))
  );
  background-image: -o-linear-gradient(
    bottom,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
  background-image: linear-gradient(
    0deg,
    rgba(252, 227, 138, 0.8) 0%,
    rgba(243, 129, 129, 0.8) 100%
  );
}
.team-member__card:hover .overlay .list,
.team-member__card:focus .overlay .list {
  opacity: 1;
}
.team-member__card:hover .overlay .list__item,
.team-member__card:focus .overlay .list__item {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
.team-member__card:hover .overlay .list__item:nth-child(1),
.team-member__card:focus .overlay .list__item:nth-child(1) {
  -webkit-transition: 0.2s 0.1s linear;
  -o-transition: 0.2s 0.1s linear;
  transition: 0.2s 0.1s linear;
}
.team-member__card:hover .overlay .list__item:nth-child(2),
.team-member__card:focus .overlay .list__item:nth-child(2) {
  -webkit-transition: 0.2s 0.2s linear;
  -o-transition: 0.2s 0.2s linear;
  transition: 0.2s 0.2s linear;
}
.team-member__card:hover .overlay .list__item:nth-child(3),
.team-member__card:focus .overlay .list__item:nth-child(3) {
  -webkit-transition: 0.2s 0.3s linear;
  -o-transition: 0.2s 0.3s linear;
  transition: 0.2s 0.3s linear;
}
.team-member__card:hover .overlay .list__item:nth-child(4),
.team-member__card:focus .overlay .list__item:nth-child(4) {
  -webkit-transition: 0.2s 0.4s linear;
  -o-transition: 0.2s 0.4s linear;
  transition: 0.2s 0.4s linear;
}
.team-member__card:focus {
  outline: -webkit-focus-ring-color auto 5px;
}
.team-member__name {
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.team-member__role {
  font-style: italic;
  color: #ccc;